--find-links https://download.pytorch.org/whl/torch_stable.html

torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1+cu116

opencv-python
fastapi
Pillow
requests
numpy

ultralytics

#sahi 
#yolov5
#python-multipart
#uvicorn

